.specialties
{
    .container
    {
        hr
        {
            width: 50%;
            border: 1px solid $color-second;
        }
        .spe-card
        {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            cursor: pointer;
            .img-card
            {
                min-width: 250px;
                overflow: hidden;
                img
                {
                    width: 100%;
                    height: auto;
                    transition: all .5s;

                    &:hover
                    {
                        transform: scale(1.1);
                    }
                }
            }
            
        }
    }
}