$font-baloo: "Baloo Thambi 2", "Cursive";
$font-raleway: "Raleway", "Cursive";
$font-dosis: "Dosis", "Cursive";

$color-primary: #fff;
$color-second: #3f3f3f;
$color-yellow: #ff9d00;
$color-light: #979797;
